/* ---ALL THIS DOES IS ILLUMINATE THE BACKGROUND- */

body {
    margin: 0;
    font-family:'Titillium Web', sans-serif;
    
  }

  .header {
      background: #000;
  }

  .header-content {
      padding: 10%;
  }

  .headlines h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 90px;
    margin: 0 22 20% 022;
    font-weight: 100;
    
  }

 
  
 canvas {
    display: block;
    vertical-align: bottom;
  }
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: ; */
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  /* ---- style Star*Tap ---- */

  /*.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
    ;
  }
  
  .subtitle-logo{
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    line-height: 140px;
    font-weight: 200;
    text-align: center;
    margin-top: -10% !important;
    margin-left: 15pX !important;
    letter-spacing: 22px;
  }
  .logotype{
    font-family: 'Titillium Web', sans-serif;
    font-size: 90px;
    margin: 0 22 20% 022;
    font-weight: 100;
    
  }*/
html{
  height: 100%;
  margin: 0;
}
body{
  height: 100%;
  margin: 0;
}
/*color*/
.bg-dark {
  background-color: black!important;
}
/*position*/
.p-absolute{
  position: absolute!important;
}
.p-relative{
  position: relative!important;
}
/*flexbox*/
.flex.cont{
  display: flex!important;
}
.flex.cont.columns{
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
}
.flex.cont.rows{
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
}
.perfect-center{
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  
}
.star-row{
  width: 100%;
  display: flex!important;
}
.f-1{
  order: 1;
  display: flex!important;
}
.f-2{
  order: 2;
  display: flex!important;
}
/*properties*/
.z-0{
  z-index: -2;
}
.z-1{
  z-index: 1;
}
.z-2{
  z-index: 2;
}
.z-3{
  z-index: 3;
}
.z-4{
  z-index: 4;
}
.hide{
  visibility: hidden;
}
.visible{
  visibility: visible;
}
.st-large{
  width: 100%!important;
  height: auto!important;
}
/*ID*/
#logotype-1,#logotype-2,#sottotitolo,#particles-js{
  opacity: 0;
}
#logo{
  z-index: 2!important;
  width:100%;
  height:auto;
}
#mission{
  
  position: absolute;
}